<div id="edit_widget_dialog">
<form action="/pull/save_widget/" method="post">{%csrf_token%}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.ci_server.errors }}
        <label for="ci_server">Ci Server</label>
        {{ form.ci_server }}
        <div id="add_ci_server_button" class="btn btn-small btn-primary">+</div>
        <div id="add_ci_server_input" style="display:none">
            <span>New Ci Server:</span>
            <input type="text" name="new_ci_server" maxlength="100" />
        </div>
    </div>
    <div class="fieldWrapper" id="edit_widget_jobname">
        {{ form.jobname.errors }}
        <label for="jobname">Job Name</label>
        {{ form.jobname }}
    </div>
    <div class="fieldWrapper">
        {{ form.displayname.errors }}
        <label for="displayname">Display Name</label>
        {{ form.displayname }}
    </div>
    <div class="fieldWrapper">
        {{ form.entity_active.errors }}
        <label for="entity_active">Entity Active</label>
        {{ form.entity_active }}
    </div>
    <div class="fieldWrapper">
        {{ form.appletv.errors }}
        <label for="appletv">Display on TV</label>
        {{ form.appletv }}
    </div>
    <input style="display:none" type="text" name="widget_id" value="{{ widget_id }}" />
    <input id="submit_edit_widget" type="submit" value="Save Widget" />
    <input id="cancel_edit_widget" type="button" value="Cancel" />
</form>
<script>
    $(function() {
        $("#submit_edit_widget").button();
        $("#add_ci_server_button").click(function(){
            $("#add_ci_server_input").show(200);
        });
        $("#cancel_edit_widget").button().click(function(){
            $("#edit_widget_dialog").parents().eq(0).dialog("close");
        });
        $("select[name=ci_server]").change(function() {
            BVD.validate.edit_job_update();
        });
        $("input[name=new_ci_server]").change(function() {
            BVD.validate.edit_job_update();
        });
        $("input[name=jobname]").change(function() {
            BVD.validate.edit_job_update();
        });
    });
</script>
<style>
    #add_ci_server_button {
        position: relative;
        top: -5px;
    }
    #add_ci_server_input span {
        font-size: 14px;
        position: relative;
        top: -5px;
        background-color: #0066dd;
        padding-top: 6px;
        padding-bottom: 7px;
        padding-right: 12px;
        margin-right: -9px;
        z-index: -1;
        padding-left: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: white;
    }
    label[for=entity_active], label[for=appletv] {
        display: inline-block;
    }
</style>
</div>
