<div id="edit_readonly_display_dialog">
    <div style="width:800px">
        <div id="erd_your_widgets">
            <h3>Your Widgets</h3>
            {% for product in product_widgets %}
                {% if product.jobs %}
                <div class="erd_product">
                    <span class="erd_product_label">{{ product.productname }}</span>
                    {% for widget in product.jobs %}
                        <ul>
                            <li class="erd_widget">
                                <span class="erdu_label" id="{{widget.pk }}_erdu_label">{{ widget.displayname }}</span>
                                {% if not widget.appletv %}
                                    <div class="btn btn-primary erdu_primary_btn erdu_show">
                                        Show
                                        <div style="display:none;">{{ widget.pk }}</div>
                                    </div>
                                {% else %}
                                    <div class="btn btn-danger erdu_primary_btn erdu_hide">
                                        Remove
                                        <div style="display:none;">{{ widget.pk }}</div>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            {% for widget in productless_widgets %}
                <div class="erd_widget">
                    <span class="erdu_label" id="{{ widget.pk }}_erdu_label">{{ widget.displayname}}</span>
                    {% if not widget.appletv %}
                        <div class="btn btn-primary erdu_primary_btn erdu_show">
                            Show
                            <div style="display:none;">{{ widget.pk }}</div>
                        </div>
                    {% else %}
                        <div class="btn btn-danger erdu_primary_btn erdu_hide">
                            Remove
                            <div style="display:none;">{{ widget.pk }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div id="erd_display_widgets">
            <h3>Public TV</h3>
        </div>
    </div>
    <script>
    $(".erdu_primary_btn").on("click", function() {
        var widget_id = $(this).children().eq(0).html();
        if($(this).hasClass('erdu_show')) {
            $(this).removeClass('erdu_show');
            $(this).removeClass('btn-primary');
            $(this).addClass('erdu_hide');
            $(this).addClass('btn-danger');
            $(this).html($(this).html().replace("Show","Remove"));
            BVD.utils.do_ajax('post', '/pull/save_widget/',
                {
                    'widget_id': widget_id,
                    'entity_active': 'True',
                    'appletv': 'True',
                    'appletv_active': 'True'
                }, function() {
                    update_erdd();
                    new Poll().ajax('/pull/pull_jobs/');
                });
        } else {
            $(this).removeClass('erdu_hide');
            $(this).removeClass('btn-danger');
            $(this).addClass('erdu_show');
            $(this).addClass('btn-primary');
            $(this).html($(this).html().replace("Remove", "Show"));
            BVD.utils.do_ajax('post', '/pull/save_widget/',
                {
                    'widget_id': widget_id,
                    'entity_active': 'True',
                }, function() {
                    update_erdd();
                    new Poll().ajax('/pull/pull_jobs/');
                });
        }
    });
    $(function() {
        update_erdd();
    });
    </script>
    <style>
        #erd_your_widgets, #erd_display_widgets {
            margin: 0;
            padding: 0;
            width: 370px;
            float: left;
        }
        #erd_your_widgets h3, #erd_display_widgets h3 {
            border-bottom: 2px dashed gray;
            padding-bottom: 5px;
        }
        #erd_your_widgets {
            padding-right: 10px;
        }
        #erd_display_widgets {
            border-left: 2px dashed gray;
            padding-left: 10px;
            min-height: 430px;
        }
        #erd_display_widgets ul {
            margin: 0 0 0 0;
            padding: 10px 0 0 25px;
            border-bottom: 2px dashed gray;
        }
        .erd_widget {
            width: 370px;
            min-height: 35px;
            border-radius: 5px;
            margin: 5px 0 5px 0;
            list-style-type: none;
        }
        li.erd_widget {
            width: 345px;
        }
        .erd_fade span {
            opacity: 0.4;
        }
        .erd_display_notyours {
            padding-left: 36px;
            width: 334px;
        }
        .erd_product {
            margin: 5px 0 5px 0;
            border-bottom: 2px dashed gray;
        }
        .erdd_productname {
            list-style-type: none;
            margin-left: -25px;
            padding-left: 0;
        }
        .erdu_label {
            display: inline;
        }
        .erdu_primary_btn, .erdd_primary_btn {
            display: inline;
            float: right;
        }
        .no_product {
            border-bottom: 2px dashed gray;
        }
    </style>
</div>