<div id="inactive_widgets_dialog">
    <form>
        {% for product in products %}
            {% if product.jobs %}
            <div class="inactive_product">
                <span class="inactive_product_name">{{ product.productname }}
                <ul class="inactive_product_widgets_list">
                {% for widget in product.jobs %}
                    <li class="inactive_widgets_field">
                        <span class="inactive_widget_label" id="{{ widget.pk }}_label">{{ widget.displayname}}</span>
                        <div class="inactive_widgets_inputs">
                            <div class="activate_inactive_widget_button btn btn-primary" id="{{ widget.pk }}_active">
                                Activate
                            </div>
                            <div class="delete_inactive_widget_button btn btn-danger" id="{{ widget.pk }}_delete">
                                Delete
                                <div style="display:none" value="{{ widget.hostname}}"></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        {% for widget in productless_widgets %}
        <div class="inactive_widgets_field">
            <span class="inactive_widget_label" id="{{ widget.pk }}_label">{{ widget.displayname}}</span>
            <div class="inactive_widgets_inputs">
                <div class="activate_inactive_widget_button btn btn-primary" id="{{ widget.pk }}_active">
                    Activate
                </div>
                <div class="delete_inactive_widget_button btn btn-danger" id="{{ widget.pk }}_delete">
                    Delete
                    <div style="display:none" value="{{ widget.hostname}}"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
    <script>
        $(".activate_inactive_widget_button").on("click", function() {
            var widgetbox = $(this).parents().eq(1);
            widgetbox.animate({'color':'white','background-color':'#0066dd','opacity':.25},200).fadeOut(100,
                function() {
                    var widget_id = widgetbox.children().eq(0).attr('id').slice(0,-6);
                    BVD.utils.do_ajax('POST', '/pull/save_widget/',
                        {
                            widget_id: widget_id,
                            entity_active: 'True',
                            appletv: 'current',
                            appletv_active: 'current'
                        },
                        function() {
                            var poll = new Poll();
                            poll.ajax('/pull/pull_jobs');
                            widgetbox.remove();
                            if($(".inactive_widgets_field").length == 0) {
                                $("#inactive_widgets_dialog").parent().dialog("close");
                            }
                            $.each($(".inactive_product_widgets_list"), function() {
                                if($(this).children().length <= 0 ) {
                                    $(this).parents().eq(1).hide();
                                }
                            })
                        }
                    );
                }
            );
        });
        $(".delete_inactive_widget_button").on("click", function() {
            var widgetbox = $(this).parents().eq(1);
            var widget_id = widgetbox.children().eq(0).attr('id').slice(0,-6);
            widgetbox.animate({'color':'white','background-color':'red','opacity':.25},200).fadeOut(100,
                function(){
                    BVD.utils.do_ajax('post',BVD.data.get_url('remove'),{pk: widget_id},function() {
                        widgetbox.remove();
                        if($(".inactive_widgets_field").length == 0) {
                            $("#inactive_widgets_dialog").parent().dialog("close");
                        }
                    });
                    console.log(widget_id);
                }
            );
        });
    </script>
    <style>
    .inactive_widgets_field {
        padding: 10px;
        position: relative;
        height: auto;
        border-radius: 5px;
    }
    .inactive_widget_label {
        display: inline;
    }
    .inactive_widgets_inputs {
        display: inline-block;
        padding: 5px;
        margin: 0 5px 5px 0;
    }
    .inactive_product {
        padding: 5px 0 0 10px;
        border-bottom: 2px dashed gray;
    }
    .inactive_product_widgets_list {
        list-style-type: none;
    }
    </style>
</div>